{% extends 'with_sidebar.twig' %}

{% block sidebar %}
    {{ parent() }}
    <h2>Yep !</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid at dolores eaque hic, illo incidunt iste itaque molestiae qui.</p>
{% endblock %}

{% block main %}
    <h1>Panier</h1>
    <p>{{ 'ici on a les articles du panier' | markdown | striptags }}
    </p>
{% endblock %}